////
/// Examples Theme
/// Type Scale
////

$examples-type-scale-data: (
  base: 1rem,
  paragraph: (
    base: 1.4rem,
    tablet: 1.8rem,
    tablet-wide: 2.4rem,
  ),
  h1: (
    base: 4.2rem,
    tablet: 6.4rem,
    desktop: 9rem,
    weight: 700,
  ),
  h2: (
    base: 3.2rem,
    tablet: 4.2rem,
    desktop: 6.4rem,
    weight: 700,
  ),
  subheading: (
    base: 2.2rem,
    tablet: 2.8rem,
    weight: 600,
  ),
  footer: (
    base: 1.1rem,
    tablet: 1.2rem,
  ),
);
