<nav class="Navigation">
  <ul class="NavList">
    <li class="NavItem">
      <span class="NavHeading">Draggable</span>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Basic dragging">Basic dragging</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Positioned layout">Positioned layout</a>
    </li>
  </ul>

  <ul class="NavList">
    <li class="NavItem">
      <span class="NavHeading">Droppable</span>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: One and only">One and only</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Capacity">Capacity</a>
    </li>
  </ul>

  <ul class="NavList">
    <li class="NavItem">
      <span class="NavHeading">Sortable</span>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Simple list">Simple list</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Multiple containers">Multiple containers</a>
    </li>
  </ul>

  <ul class="NavList">
    <li class="NavItem">
      <span class="NavHeading">Swappable</span>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Flexbox">Flexbox</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Grid layout">Grid layout</a>
    </li>
  </ul>

  <ul class="NavList">
    <li class="NavItem">
      <span class="NavHeading">Plugins</span>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Collidable">Collidable</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: Snappable">Snappable</a>
    </li>
    <li class="NavItem">
      <a href="#" class="NavLink" title="See example: SwapAnimation">SwapAnimation</a>
    </li>
  </ul>
</nav>
