////
/// Components
/// Section
////

$section-padding-x-mobile: 1.3rem; // (320px - 294px) / 2

.Section {
  // using custom spacing rather than `get-spacing(tighter)`
  // to be equal to the mobile width of a puzzle
  padding-left: $section-padding-x-mobile;
  padding-right: $section-padding-x-mobile;

  @media screen and (min-width: get-breakpoint(tablet)) {
    padding-left: get-spacing();
    padding-right: get-spacing();
  }

  & + & {
    border-top: get-border(section);

    @media screen and (min-width: get-breakpoint(tablet)) {
      border-top: get-border(section, tablet);
    }
  }
}

///
/// Section interior
.SectionInterior--hasMargin {
  margin-bottom: get-spacing(fatter);

  @media screen and (min-width: get-breakpoint(tablet)) {
    margin-bottom: get-spacing(huger);
  }

  @media screen and (min-width: get-breakpoint(tablet, wide)) {
    margin-bottom: get-spacing(hugest);
  }
}

// Section--isLoading is handled in `states.scss`
